Source: openresty
Section: main/net
Priority: optional
Maintainer: Xiang Gao <phoenix.x.gao@gmail.com>
Build-Depends: debhelper (>=9),autotools-dev
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/openresty.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/openresty.git

Package: openresty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Openresty Http Server
 <insert long description, indented with spaces>
