Source: openresty
Section: main/httpd
Priority: optional
Maintainer: Xiang Gao <phoenix.x.gao@gmail.com>
Build-Depends: debhelper (>=9),systemtap-sdt-dev,autotools-dev,libreadline-dev,libncurses5-dev,libpcre3-dev,libssl-dev,perl,libxslt1-dev,libxml2-dev,libgd3,libgd-dev,libgeoip-dev
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/openresty.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/openresty.git

Package: openresty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: nginx web/proxy server (Openresty version)
